.vs
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
Library
Logs
Logs/*
Thumbs.db
*.obj
*.exe
*.pdb
*.cache
obj/Debug
obj
obj/
TextMesh Pro
Temp


